@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  padding: 40px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #336699;
}

.container .srch {
  margin-bottom: 30px;
}

.container .srch input {
  width: 100%;
  border-radius: 30px;
  border: 2px solid #99bbff;
  padding: 15px 20px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.container .srch input:focus {
  border-color: #6699cc;
}

.container .qr-code {
  text-align: center;
  margin-bottom: 30px;
}

.container .qr-code img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.container .qr-code img:hover {
  transform: scale(1.05);
}

.container .btn {
  text-align: center;
  margin-top: 20px;
}

.container .btn button {
  width: calc(50% - 10px);
  margin-right: 7px;
  padding: 15px 0;
  border-radius: 30px;
  background-color: #336699;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.container .btn button:last-child {
  margin-right: 0;
}

.container .btn button:hover {
  background-color: #6699cc;
  transform: translateY(-3px);
}
